In [1]:
import pandas as pd

In [15]:

df = pd.read_csv("rawdata/mimic2-iaccd/1.0/aline-mimic-ii-master/Data_Analysis/R/hufeng/rnd15.csv")

In [16]:
df

                    Unnamed: 0
age                        NaN
weight_first               NaN
sofa_first                 NaN
service_num                NaN
day_icu_intime_num         NaN
chf_flg                    NaN
afib_flg                   NaN
renal_flg                  NaN
copd_flg                   NaN
cad_flg                    NaN
hr_1st                     NaN
temp_1st                   NaN
spo2_1st                   NaN
sodium_first               NaN
potassium_first            NaN
tco2_first                 NaN
chloride_first             NaN
bun_first                  NaN
creatinine_first           NaN
po2_first                  NaN

In [4]:
df.empty

False

In [5]:
df.index

RangeIndex(start=0, stop=16, step=1)

In [7]:
len(df.columns)

1