In [1]:
import pandas as pd

In [2]:

df = pd.read_csv("rawdata/mimic2-iaccd/1.0/aline-mimic-ii-master/Data_Analysis/R/hufeng/rnd1.csv")

In [3]:
df

                     ++
0           +sofa_first
1          +service_num
2   +day_icu_intime_num
3      +hour_icu_intime
4            +liver_flg
5             +copd_flg
6              +map_1st
7               +hr_1st
8             +temp_1st
9             +spo2_1st
10           +wbc_first
11      +platelet_first
12        +sodium_first
13     +potassium_first
14      +chloride_first
15           +bun_first

In [4]:
df.empty

False

In [5]:
df.index

RangeIndex(start=0, stop=16, step=1)

In [7]:
len(df.columns)

1